
/* CSS Variables */
:root{
  --text-color1 : saddlebrown;
  --text-color2: black;
  --text-color3:  rgba(2, 6, 12, 0.6);
  --bg-color1: rgb(255, 255, 255);
  --bg-color2: rgba(2, 6, 12, 0.15);
}
/* -------------------------------------------------- */
/* Common classes */
.margin-auto{
  margin: auto;
}
.max-width-1320{
  max-width: 1320px;
}
.flex{
  display: flex;
}
.flex-direction-col{
  flex-direction: column;
}
.font-family-Gilroy{
  font-family: 'Gilroy';
}
.grid{
  display: grid;
}
.font-14{
  font-size: 14px;
}
.font-16{
  font-size: 16px;
}
.font-24{
  font-size: 24px;
}
.font-weight{
  font-weight: bold;
}
.mx-8{
  margin:0 8px;
}
.ml-12{
  margin-left:12px;
}
.mt-20{
  margin-top:20px;
}
.list-style-none{
  list-style-type: none;
}
.text-color-decoration{
  text-decoration: none;
  color:var(--text-color2);
}

.shimmer-bg{
  background-color: rgb(204, 199, 199);
}
.px-24{
  padding: 0 24px;
}
.space-between{
  justify-content: space-between;
}
.space-around{
  justify-content: space-between;
}
.align-items-center{
  align-items: center;
}
.align-items-start{
  align-items: start;
}
.border-radius-20{
  border-radius: 20%;
}
.mb-24{
  margin-bottom: 24px;
}
.max-width-768{
  max-width: 768px;
}
/* ---------------------------------------------------------------------- */
/* Styles for Header */
.header{
  padding: 10px 24px;
}
.nav-items>ul{
  padding: 0;
}
.nav-items>ul>li{
  text-align: right;
  margin-left: 20px;
}
.nav-items>ul>li>a:hover{
  color:var(--text-color1);
}
.log{
  max-width: 116px;
}
.logout{
  cursor: pointer;
    width: 76px;
    color:var(--text-color1);
}
/* Styles for the restaurant card component*/
.cuisines, .areaName{
  font-weight: 200;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.3px;
  color:var(--text-color3);
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  overflow-wrap: break-word;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.res-image{
  max-width: 100%;
  aspect-ratio: 16/9;
  
}
.res-image:hover{
  transform: scale(1.2);
}
.restaurant-image{
  overflow: hidden;
}
.green-star-icon{
  margin-top:2px;
}

.filters, .restaurantMenu{
  margin: 24px auto;
}
.loginInfo{
  float: right;
  color:var(--text-color1);
  font-weight: 500;
}
.promoted{
padding: 7px;
    position: absolute;
    background: black;
    color: white;
    border-top-radius: 20px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    z-index: 2;
    top: 24px;
}
.res-menu{
  position: relative;
}
/* Styles for restaurant menu component */
.breadcrumbs-list{
  padding-left: 0;
}
.breadcrumbs-list a:hover{
  color:var(--text-color1);
}
.breadcrumbs-separator{
  margin: 0 3px;
}
.restaurantMenu-card{
  background: linear-gradient(rgb(255, 255, 255) -6.71%, rgb(235, 235, 242) 56.19%, rgb(223, 223, 231) 106.56%);
    padding: 24px;
    border-bottom-left-radius: 36px;
    border-bottom-right-radius: 36px;
}
.restaurantMenu-cuisines{
  color: var(--text-color1);
}
.starting-point, .ending-point{
  width: 7px;
    height: 7px;
    border-radius: 50%;
    background: rgb(196, 196, 196);
}
.mid-point{
  width: 1px;
    height: 23px;
    background: rgb(196, 196, 196);
}
.outlet-location{
  margin-bottom: 8px;
}
/* ------------------------------------------------- */
/* Styles for company class component */
.company-details>p:not(:last-child){
  margin-bottom: 24px;
}
.company-details{
    padding: 24px;
    box-shadow: 5px 5px 100px 1px lightgrey;
}
.founder-details{
  margin-top: 64px;
}
/*---------------------------------------------------- */
/* Styles for ShimmerForAbout component */
.shimmerforabout-heading{
  height: 20px;
  width: 30%;
}

.shimmerforabout-card{
  height: 200px;
  width:100%;
  text-align: left;
}
/* -------------------------------------------------------- */
/* Styles for shimmer cards */
.shimmer-cards{
  width: 306px;
  height: 172px;  
}
.shimmer-cards:not(:nth-child(9)), .shimmer-cards:not(:nth-child(10)),
.shimmer-cards:not(:nth-child(11)),.shimmer-cards:not(:nth-child(12)){
  margin-bottom: 24px;
}
.shimmer-container{
  flex-wrap: wrap;
  padding: 64px 24px;
}
/* ------------------------------------------------------------- */
/* Styles for Body component */
.restaurants-container{
  margin-block-end: 0px;
  -webkit-box-align: start;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}
.restaurant-details{
  margin-top: 2px;
  gap: 2px;
  grid-auto-flow: column;
  -webkit-box-pack: start;
  justify-content: start;
}
.top-rated-restaurant, .searchInput, .sort-dropdown, .sort-dropdown>option{
  border-radius: 18px;
  background-color: var(--bg-color1);
  border: 1px solid var(--bg-color2);
  padding: 9px 12px;
  display: inline-grid;
  width: max-content;
  grid-auto-flow: column;
  gap: 8px;
  box-shadow: rgba(2, 6, 12, 0.04) 0px 2px 12px;
  transition: 100ms ease-in;
  cursor: pointer;
}
.top-rated-restaurant:hover{
  color:var(--text-color1);
}
button.searchInput{
  margin-left: 9px;
}
button.searchInput:hover{
  color:var(--text-color1);
}
.sort-res{
  margin-left: 9px;
}
/* common */
.About, .offline-message, .shimmer-for-about{
  padding: 10px 24px;
}